@import "./common";

.plus-box {
  width: $img-width;
  height: $img-width;
  min-width: $img-width;
  min-height: $img-width;
  border: 1px solid black;
  font-size: 24px;
  line-height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;

  &.on {
    border: 3px solid rgb(1, 154, 255);
    background-color: rgb(243, 249, 255);
    font-weight: bolder;
    font-size: 11px;
  }
  input {
    display: none;
  }
}

@media screen and (max-width: 500px) {
  .plus-box {
    width: $img-width-mobile;
    height: $img-width-mobile;
    min-width: $img-width-mobile;
    min-height: $img-width-mobile;
  }
}
