@import "./fileContainer";
@import "./imgBox";
@import "./reset";

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.gallery-box {
  width: calc(100vw - 60px);
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 16px;
  &.row {
    flex-direction: row;
  }
  &.scroll {
    overflow-x: scroll;
  }
}

.alert {
  text-align: center;
}
